Repository prometheus-community/ansible, pull requests merged in 2023-07, with the labels that each got.

#88 fix: mysqld_exporter should actually respect the mysqld_exporter_host variable
  roles/mysqld_exporter/templates/my_cnf.j2
Labels: bugfix, mysqld_exporter

#160 skip_changelog: Update yaml linting
  .github/release-drafter.yml
  .github/workflows/conventional-label.yml
  .yamllint.yml
Labels: skip_changelog

#167 Fix: rename collector flags
  roles/systemd_exporter/defaults/main.yml
  roles/systemd_exporter/meta/argument_specs.yml
  roles/systemd_exporter/templates/systemd_exporter.service.j2
Labels: systemd_exporter

#169 Fix mysqld_exporter world-readable secrets
  roles/mysqld_exporter/tasks/configure.yml
Labels: mysqld_exporter

#172 feature: blackbox exporter user/group configurable
  roles/blackbox_exporter/defaults/main.yml
  roles/blackbox_exporter/tasks/configure.yml
  roles/blackbox_exporter/tasks/install.yml
  roles/blackbox_exporter/templates/blackbox_exporter.service.j2
Labels: enhancement, blackbox_exporter

#171 fix ansible-lint: risky-octal & no-same-owner
  roles/mysqld_exporter/tasks/configure.yml
  roles/mysqld_exporter/tasks/install.yml
Labels: mysqld_exporter

#173 feature: Make config installation dir configurable
  roles/blackbox_exporter/defaults/main.yml
  roles/blackbox_exporter/meta/argument_specs.yml
  roles/blackbox_exporter/tasks/configure.yml
  roles/blackbox_exporter/templates/blackbox_exporter.service.j2
Labels: enhancement, blackbox_exporter, mysqld_exporter
