Repository prometheus-community/ansible, pull requests merged in 2023-12, with the labels that each got.

#255 minor: Add ansible 2.16 support
  meta/runtime.yml
Labels: minor, roles/alertmanager, roles/node_exporter, roles/prometheus, roles/systemd_exporter, roles/blackbox_exporter, roles/snmp_exporter, roles/mysqld_exporter, roles/smokeping_prober, roles/pushgateway, roles/chrony_exporter, roles/smartctl_exporter

#258 fix: Use repo var for preflight
  roles/alertmanager/tasks/preflight.yml
  roles/blackbox_exporter/tasks/preflight.yml
  roles/chrony_exporter/tasks/preflight.yml
  roles/mysqld_exporter/tasks/preflight.yml
  roles/node_exporter/tasks/preflight.yml
  roles/prometheus/tasks/preflight.yml
  roles/pushgateway/tasks/preflight.yml
  roles/smartctl_exporter/tasks/preflight.yml
  roles/snmp_exporter/tasks/preflight.yml
  roles/systemd_exporter/tasks/preflight.yml
Labels: bugfix, roles/alertmanager, roles/node_exporter, roles/prometheus, roles/systemd_exporter, roles/blackbox_exporter, roles/snmp_exporter, roles/mysqld_exporter, roles/pushgateway, roles/chrony_exporter, roles/smartctl_exporter

#251 enhancement: Add time_intervals to AlertManager
  roles/alertmanager/defaults/main.yml
  roles/alertmanager/meta/argument_specs.yml
  roles/alertmanager/molecule/default/molecule.yml
  roles/alertmanager/tasks/preflight.yml
  roles/alertmanager/templates/alertmanager.yml.j2
Labels: enhancement, roles/alertmanager, roles/node_exporter, roles/prometheus, roles/systemd_exporter, roles/blackbox_exporter, roles/snmp_exporter, roles/mysqld_exporter, roles/smokeping_prober, roles/pushgateway, roles/chrony_exporter, roles/smartctl_exporter

#263 skip_changelog: fix changelog indent
  changelogs/changelog.yaml
Labels: skip_changelog

#117 refactor: use range for supported ansible versions
  .github/scripts/collection_version_parser.py
  .github/workflows/ansible-ci.yml
  meta/runtime.yml
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.15.txt
  tests/sanity/ignore-2.16.txt
  tests/sanity/ignore-2.9.txt
Labels: trivial
