Repository prometheus-community/ansible, pull requests merged in 2023-10, with the labels that each got.

#241 fix(molecule): don't contact galaxy api since requirements come from git
  .config/molecule/config.yml
Labels: bugfix

#242 skip_changelog: version updater labeling
  .github/scripts/version_updater.sh
  .github/workflows/conventional-label.yml
Labels: skip_changelog

#243 skip_changelog: allow running publish workflow manually
  .github/workflows/publish.yml
Labels: skip_changelog

#240 docs: fix alertmanager role name
  roles/alertmanager/README.md
Labels: trivial, roles/alertmanager

#239 docs: fix blackbox_exporter role name
  roles/blackbox_exporter/README.md
Labels: trivial, roles/blackbox_exporter

#229 feat: add smartctl_exporter role
  roles/smartctl_exporter/README.md
  roles/smartctl_exporter/defaults/main.yml
  roles/smartctl_exporter/handlers/main.yml
  roles/smartctl_exporter/meta/argument_specs.yml
  roles/smartctl_exporter/meta/main.yml
  roles/smartctl_exporter/molecule/alternative/molecule.yml
  roles/smartctl_exporter/molecule/alternative/prepare.yml
  roles/smartctl_exporter/molecule/alternative/tests/test_alternative.py
  roles/smartctl_exporter/molecule/default/molecule.yml
  roles/smartctl_exporter/molecule/default/tests/test_default.py
  roles/smartctl_exporter/molecule/latest/molecule.yml
  roles/smartctl_exporter/molecule/latest/tests/test_latest.py
  roles/smartctl_exporter/tasks/configure.yml
  roles/smartctl_exporter/tasks/install.yml
  roles/smartctl_exporter/tasks/main.yml
  roles/smartctl_exporter/tasks/preflight.yml
  roles/smartctl_exporter/tasks/selinux.yml
  roles/smartctl_exporter/templates/smartctl_exporter.service.j2
  roles/smartctl_exporter/templates/web_config.yaml.j2
  roles/smartctl_exporter/test-requirements.txt
  roles/smartctl_exporter/vars/main.yml
  tests/integration/targets/molecule-smartctl_exporter-alternative/runme.sh
  tests/integration/targets/molecule-smartctl_exporter-default/runme.sh
  tests/integration/targets/molecule-smartctl_exporter-latest/runme.sh
Labels: enhancement, roles/smartctl_exporter
