Repository prometheus-community/ansible, pull requests merged in 2023-08, with the labels that each got.

#166 skip_changelog: Prefix role label triggers.
  .github/workflows/ansible-ci.yml
  .github/workflows/conventional-label.yml
Labels: skip_changelog

#159 feat: Add chrony_exporter role
  roles/chrony_exporter/README.md
  roles/chrony_exporter/TROUBLESHOOTING.md
  roles/chrony_exporter/defaults/main.yml
  roles/chrony_exporter/handlers/main.yml
  roles/chrony_exporter/meta/argument_specs.yml
  roles/chrony_exporter/meta/main.yml
  roles/chrony_exporter/molecule/alternative/converge.yml
  roles/chrony_exporter/molecule/alternative/molecule.yml
  roles/chrony_exporter/molecule/alternative/prepare.yml
  roles/chrony_exporter/molecule/alternative/tests/test_alternative.py
  roles/chrony_exporter/molecule/default/converge.yml
  roles/chrony_exporter/molecule/default/molecule.yml
  roles/chrony_exporter/molecule/default/tests/test_default.py
  roles/chrony_exporter/molecule/latest/converge.yml
  roles/chrony_exporter/molecule/latest/molecule.yml
  roles/chrony_exporter/molecule/latest/tests/test_alternative.py
  roles/chrony_exporter/tasks/configure.yml
  roles/chrony_exporter/tasks/install.yml
  roles/chrony_exporter/tasks/main.yml
  roles/chrony_exporter/tasks/preflight.yml
  roles/chrony_exporter/tasks/selinux.yml
  roles/chrony_exporter/templates/chrony_exporter.service.j2
  roles/chrony_exporter/templates/web_config.yaml.j2
  roles/chrony_exporter/test-requirements.txt
  roles/chrony_exporter/vars/main.yml
  tests/integration/targets/molecule-chrony_exporter-alternative/runme.sh
  tests/integration/targets/molecule-chrony_exporter-default/runme.sh
  tests/integration/targets/molecule-chrony_exporter-latest/runme.sh
Labels: enhancement, roles/chrony_exporter

#127 feat: Add pushgateway role
  roles/pushgateway/README.md
  roles/pushgateway/TROUBLESHOOTING.md
  roles/pushgateway/defaults/main.yml
  roles/pushgateway/handlers/main.yml
  roles/pushgateway/meta/argument_specs.yml
  roles/pushgateway/meta/main.yml
  roles/pushgateway/molecule/alternative/converge.yml
  roles/pushgateway/molecule/alternative/molecule.yml
  roles/pushgateway/molecule/alternative/prepare.yml
  roles/pushgateway/molecule/alternative/tests/test_alternative.py
  roles/pushgateway/molecule/default/converge.yml
  roles/pushgateway/molecule/default/molecule.yml
  roles/pushgateway/molecule/default/tests/test_default.py
  roles/pushgateway/molecule/latest/converge.yml
  roles/pushgateway/molecule/latest/molecule.yml
  roles/pushgateway/molecule/latest/tests/test_alternative.py
  roles/pushgateway/tasks/configure.yml
  roles/pushgateway/tasks/install.yml
  roles/pushgateway/tasks/main.yml
  roles/pushgateway/tasks/preflight.yml
  roles/pushgateway/tasks/selinux.yml
  roles/pushgateway/templates/pushgateway.service.j2
  roles/pushgateway/templates/web_config.yml.j2
  roles/pushgateway/test-requirements.txt
  roles/pushgateway/vars/main.yml
  tests/integration/targets/molecule-pushgateway-alternative/runme.sh
  tests/integration/targets/molecule-pushgateway-default/runme.sh
  tests/integration/targets/molecule-pushgateway-latest/runme.sh
Labels: enhancement, roles/pushgateway

#189 skip_changelog: fix ansible-lint action upstream
  .github/workflows/ansible-ci.yml
Labels: skip_changelog

#128 feat: Add role smokeping_prober
  roles/smokeping_prober/README.md
  roles/smokeping_prober/TROUBLESHOOTING.md
  roles/smokeping_prober/defaults/main.yml
  roles/smokeping_prober/handlers/main.yml
  roles/smokeping_prober/meta/argument_specs.yml
  roles/smokeping_prober/meta/main.yml
  roles/smokeping_prober/molecule/alternative/converge.yml
  roles/smokeping_prober/molecule/alternative/molecule.yml
  roles/smokeping_prober/molecule/alternative/prepare.yml
  roles/smokeping_prober/molecule/alternative/tests/test_alternative.py
  roles/smokeping_prober/molecule/default/converge.yml
  roles/smokeping_prober/molecule/default/molecule.yml
  roles/smokeping_prober/molecule/default/tests/test_default.py
  roles/smokeping_prober/molecule/latest/converge.yml
  roles/smokeping_prober/molecule/latest/molecule.yml
  roles/smokeping_prober/molecule/latest/tests/test_alternative.py
  roles/smokeping_prober/molecule/latest/tests/test_latest.py
  roles/smokeping_prober/tasks/configure.yml
  roles/smokeping_prober/tasks/install.yml
  roles/smokeping_prober/tasks/main.yml
  roles/smokeping_prober/tasks/preflight.yml
  roles/smokeping_prober/tasks/selinux.yml
  roles/smokeping_prober/templates/probes.yml.j2
  roles/smokeping_prober/templates/smokeping_prober.service.j2
  roles/smokeping_prober/templates/web_config.yaml.j2
  roles/smokeping_prober/test-requirements.txt
  roles/smokeping_prober/vars/main.yml
  tests/integration/targets/molecule-smokeping_prober-alternative/runme.sh
  tests/integration/targets/molecule-smokeping_prober-default/runme.sh
  tests/integration/targets/molecule-smokeping_prober-latest/runme.sh
Labels: enhancement, roles/smokeping_prober

#190 docs(smokeping_prober): Update arguments specs
  roles/smokeping_prober/meta/argument_specs.yml
Labels: trivial, roles/smokeping_prober

#191 skip_changelog: disable coverage on molecule tests
  .github/workflows/ansible-ci.yml
  .github/workflows/ansible-test-integration.yml
Labels: skip_changelog

#192 skip_changelog: ci coverage input is string not json
  .github/workflows/ansible-test-integration.yml
Labels: skip_changelog

#193 skip_changelog: fix ansible-test ci coverage input
  .github/workflows/ansible-test-integration.yml
Labels: skip_changelog

#194 fix(alertmanager): add routes before match_re
  roles/alertmanager/defaults/main.yml
Labels: bugfix, roles/alertmanager

#195 skip_changelog: temporarily pin molecule version
  tests/integration/molecule.sh
Labels: skip_changelog

#154 docs: Fix node_exporter 404 TLS auth links
  roles/node_exporter/meta/argument_specs.yml
Labels: trivial, roles/node_exporter

#199 removed: Drop ubuntu 18.04 support as it is EOL
  .config/molecule/config.yml
  roles/alertmanager/meta/main.yml
  roles/blackbox_exporter/meta/main.yml
  roles/chrony_exporter/meta/main.yml
  roles/mysqld_exporter/meta/main.yml
  roles/node_exporter/meta/main.yml
  roles/prometheus/meta/main.yml
  roles/pushgateway/meta/main.yml
  roles/smokeping_prober/meta/main.yml
  roles/snmp_exporter/meta/main.yml
  roles/systemd_exporter/meta/main.yml
Labels: removed, roles/alertmanager, roles/node_exporter, roles/prometheus, roles/systemd_exporter, roles/blackbox_exporter, roles/snmp_exporter, roles/mysqld_exporter, roles/smokeping_prober, roles/pushgateway, roles/chrony_exporter

#200 removed: Drop fedora 36 support as it is EOL
  .config/molecule/config.yml
  roles/alertmanager/meta/main.yml
  roles/blackbox_exporter/meta/main.yml
  roles/chrony_exporter/meta/main.yml
  roles/mysqld_exporter/meta/main.yml
  roles/node_exporter/meta/main.yml
  roles/prometheus/meta/main.yml
  roles/pushgateway/meta/main.yml
  roles/smokeping_prober/meta/main.yml
  roles/snmp_exporter/meta/main.yml
  roles/systemd_exporter/meta/main.yml
Labels: removed, roles/alertmanager, roles/node_exporter, roles/prometheus, roles/systemd_exporter, roles/blackbox_exporter, roles/snmp_exporter, roles/mysqld_exporter, roles/smokeping_prober, roles/pushgateway, roles/chrony_exporter

#184 fix(node_exporter): Fix ProtectHome for textfiles
  roles/node_exporter/molecule/latest/molecule.yml
  roles/node_exporter/molecule/latest/tests/test_latest.py
  roles/node_exporter/templates/node_exporter.service.j2
Labels: bugfix, roles/node_exporter

#202 minor: support fedora 38
  .config/molecule/config.yml
  roles/alertmanager/meta/main.yml
  roles/blackbox_exporter/meta/main.yml
  roles/chrony_exporter/meta/main.yml
  roles/mysqld_exporter/meta/main.yml
  roles/node_exporter/meta/main.yml
  roles/prometheus/meta/main.yml
  roles/pushgateway/meta/main.yml
  roles/smokeping_prober/meta/main.yml
  roles/snmp_exporter/meta/main.yml
  roles/systemd_exporter/meta/main.yml
Labels: minor, roles/alertmanager, roles/node_exporter, roles/prometheus, roles/systemd_exporter, roles/blackbox_exporter, roles/snmp_exporter, roles/mysqld_exporter, roles/smokeping_prober, roles/pushgateway, roles/chrony_exporter

#198 feature: Agent mode support
  roles/prometheus/defaults/main.yml
  roles/prometheus/meta/argument_specs.yml
  roles/prometheus/molecule/agentmode/molecule.yml
  roles/prometheus/molecule/agentmode/tests/test_agentmode.py
  roles/prometheus/tasks/configure.yml
  roles/prometheus/templates/prometheus.service.j2
  roles/prometheus/templates/prometheus.yml.j2
  tests/integration/targets/molecule-prometheus-agentmode/runme.sh
Labels: enhancement, roles/alertmanager, roles/prometheus

#204 fix: Make binary installs consistent
  roles/blackbox_exporter/defaults/main.yml
  roles/blackbox_exporter/handlers/main.yml
  roles/blackbox_exporter/meta/argument_specs.yml
  roles/blackbox_exporter/molecule/latest/molecule.yml
  roles/blackbox_exporter/molecule/latest/tests/test_latest.py
  roles/blackbox_exporter/tasks/configure.yml
  roles/blackbox_exporter/tasks/install.yml
  roles/blackbox_exporter/tasks/preflight.yml
  roles/blackbox_exporter/vars/main.yml
  roles/snmp_exporter/defaults/main.yml
  roles/snmp_exporter/handlers/main.yml
  roles/snmp_exporter/meta/argument_specs.yml
  roles/snmp_exporter/molecule/latest/molecule.yml
  roles/snmp_exporter/molecule/latest/tests/test_latest.py
  roles/snmp_exporter/tasks/configure.yml
  roles/snmp_exporter/tasks/install.yml
  roles/snmp_exporter/tasks/preflight.yml
  roles/snmp_exporter/vars/main.yml
Labels: bugfix, roles/blackbox_exporter, roles/snmp_exporter

#174 fix: blackbox_exporter ansible-lint risky-octal
  roles/blackbox_exporter/tasks/configure.yml
  roles/blackbox_exporter/tasks/install.yml
Labels: bugfix, roles/blackbox_exporter

#209 skip_changelog: Fixup install task names
  roles/alertmanager/tasks/install.yml
  roles/chrony_exporter/tasks/install.yml
  roles/mysqld_exporter/tasks/install.yml
  roles/node_exporter/tasks/install.yml
  roles/pushgateway/tasks/install.yml
  roles/smokeping_prober/tasks/install.yml
Labels: skip_changelog, roles/alertmanager, roles/node_exporter, roles/mysqld_exporter, roles/smokeping_prober, roles/pushgateway, roles/chrony_exporter

#208 fix(systemd_exporter): Fix collector flags for older versions
  roles/systemd_exporter/molecule/alternative/molecule.yml
  roles/systemd_exporter/templates/systemd_exporter.service.j2
Labels: bugfix, roles/systemd_exporter

#205 feat(systemd_exporter): Add TLS configuration
  roles/systemd_exporter/README.md
  roles/systemd_exporter/defaults/main.yml
  roles/systemd_exporter/meta/argument_specs.yml
  roles/systemd_exporter/molecule/alternative/molecule.yml
  roles/systemd_exporter/molecule/alternative/prepare.yml
  roles/systemd_exporter/tasks/configure.yml
  roles/systemd_exporter/tasks/preflight.yml
  roles/systemd_exporter/templates/config.yaml.j2
  roles/systemd_exporter/templates/systemd_exporter.service.j2
Labels: enhancement, roles/systemd_exporter

#210 feat(systemd_exporter): Add logging configuration to systemd_exporter
  roles/systemd_exporter/defaults/main.yml
  roles/systemd_exporter/meta/argument_specs.yml
  roles/systemd_exporter/templates/systemd_exporter.service.j2
Labels: enhancement, roles/systemd_exporter
