Repository prometheus-community/ansible, pull requests merged in 2023-11, with the labels that each got.

#248 skip_changelog(ci): make sure pytest and pytest-testinfra versions stay compatible
  test-requirements.txt
  tests/integration/molecule.sh
Labels: skip_changelog

#250 feat(blackbox_exporter): Create config directory
  roles/blackbox_exporter/defaults/main.yml
  roles/blackbox_exporter/molecule/alternative/tests/test_alternative.py
  roles/blackbox_exporter/molecule/default/tests/test_default.py
  roles/blackbox_exporter/tasks/configure.yml
Labels: enhancement, roles/blackbox_exporter

#213 enhancement: allows using multiple web listen addresses
  roles/alertmanager/molecule/alternative/molecule.yml
  roles/alertmanager/molecule/alternative/prepare.yml
  roles/alertmanager/molecule/alternative/tests/test_alternative.py
  roles/alertmanager/tasks/preflight.yml
  roles/alertmanager/templates/alertmanager.service.j2
  roles/blackbox_exporter/molecule/alternative/molecule.yml
  roles/blackbox_exporter/molecule/alternative/tests/test_alternative.py
  roles/blackbox_exporter/tasks/preflight.yml
  roles/blackbox_exporter/templates/blackbox_exporter.service.j2
  roles/chrony_exporter/molecule/alternative/molecule.yml
  roles/chrony_exporter/molecule/alternative/tests/test_alternative.py
  roles/chrony_exporter/tasks/preflight.yml
  roles/chrony_exporter/templates/chrony_exporter.service.j2
  roles/mysqld_exporter/molecule/alternative/molecule.yml
  roles/mysqld_exporter/molecule/alternative/tests/test_alternative.py
  roles/mysqld_exporter/tasks/preflight.yml
  roles/mysqld_exporter/templates/mysqld_exporter.service.j2
  roles/node_exporter/molecule/alternative/molecule.yml
  roles/node_exporter/molecule/alternative/tests/test_alternative.py
  roles/node_exporter/tasks/preflight.yml
  roles/node_exporter/templates/node_exporter.service.j2
  roles/prometheus/molecule/alternative/molecule.yml
  roles/prometheus/molecule/alternative/prepare.yml
  roles/prometheus/molecule/alternative/tests/test_alternative.py
  roles/prometheus/tasks/preflight.yml
  roles/pushgateway/molecule/alternative/molecule.yml
  roles/pushgateway/molecule/alternative/tests/test_alternative.py
  roles/pushgateway/tasks/preflight.yml
  roles/pushgateway/templates/pushgateway.service.j2
  roles/smartctl_exporter/tasks/preflight.yml
  roles/smokeping_prober/defaults/main.yml
  roles/smokeping_prober/molecule/alternative/molecule.yml
  roles/smokeping_prober/molecule/alternative/tests/test_alternative.py
  roles/smokeping_prober/tasks/preflight.yml
  roles/smokeping_prober/templates/smokeping_prober.service.j2
  roles/snmp_exporter/molecule/alternative/molecule.yml
  roles/snmp_exporter/molecule/alternative/tests/test_alternative.py
  roles/snmp_exporter/tasks/preflight.yml
  roles/snmp_exporter/templates/snmp_exporter.service.j2
  roles/systemd_exporter/tasks/preflight.yml
Labels: enhancement, roles/alertmanager, roles/node_exporter, roles/prometheus, roles/systemd_exporter, roles/blackbox_exporter, roles/snmp_exporter, roles/mysqld_exporter, roles/smokeping_prober, roles/pushgateway, roles/chrony_exporter, roles/smartctl_exporter
