Repository prometheus-community/ansible, pull requests merged in 2024-11, with the labels that each got.

#456 fix(prometheus): remove old internal variable remnants
  roles/prometheus/tasks/configure.yml
  roles/prometheus/templates/prometheus.service.j2
  roles/prometheus/vars/main.yml
Labels: bugfix, roles/prometheus

#461 skip_changelog: Fix role repo discovery
  .github/scripts/discover_role_repos.sh
Labels: skip_changelog

#462 feat: Support Prometheus 3.0
  roles/prometheus/defaults/main.yml
  roles/prometheus/meta/argument_specs.yml
  roles/prometheus/molecule/agentmode/tests/test_agentmode.py
  roles/prometheus/molecule/default/tests/test_default.py
  roles/prometheus/tasks/configure.yml
  roles/prometheus/templates/prometheus.service.j2
Labels: enhancement, roles/prometheus
