Repository prometheus-community/ansible, pull requests merged in 2024-03, with the labels that each got.

#311 fix(ipmi_exporter): add option to impi_exporter service to allow tmp file creation
  roles/ipmi_exporter/templates/ipmi_exporter.service.j2
Labels: bugfix, roles/ipmi_exporter

#310 fix: change monogdb exporter collector check in service
  roles/mongodb_exporter/defaults/main.yml
  roles/mongodb_exporter/templates/mongodb_exporter.service.j2
Labels: bugfix, roles/mongodb_exporter

#312 feat: cadvisor - options to enable\disable metrics and docker-only mode
  roles/cadvisor/defaults/main.yml
  roles/cadvisor/meta/argument_specs.yml
  roles/cadvisor/molecule/alternative/molecule.yml
  roles/cadvisor/templates/cadvisor.service.j2
Labels: enhancement, roles/cadvisor, roles/mongodb_exporter

#302 feat: add process_exporter role
  roles/process_exporter/README.md
  roles/process_exporter/defaults/main.yml
  roles/process_exporter/handlers/main.yml
  roles/process_exporter/meta/argument_specs.yml
  roles/process_exporter/meta/main.yml
  roles/process_exporter/molecule/alternative/molecule.yml
  roles/process_exporter/molecule/alternative/prepare.yml
  roles/process_exporter/molecule/alternative/tests/test_alternative.py
  roles/process_exporter/molecule/default/molecule.yml
  roles/process_exporter/molecule/default/tests/test_default.py
  roles/process_exporter/molecule/latest/molecule.yml
  roles/process_exporter/molecule/latest/tests/test_latest.py
  roles/process_exporter/tasks/configure.yml
  roles/process_exporter/tasks/install.yml
  roles/process_exporter/tasks/main.yml
  roles/process_exporter/tasks/preflight.yml
  roles/process_exporter/tasks/selinux.yml
  roles/process_exporter/templates/config.yml.j2
  roles/process_exporter/templates/process_exporter.service.j2
  roles/process_exporter/templates/web_config.yml.j2
  roles/process_exporter/test-requirements.txt
  roles/process_exporter/vars/main.yml
  tests/integration/targets/molecule-process_exporter-alternative/runme.sh
  tests/integration/targets/molecule-process_exporter-default/runme.sh
  tests/integration/targets/molecule-process_exporter-latest/runme.sh
Labels: enhancement, roles/process_exporter

#314 skip_changelog: Fix version updater
  .github/scripts/version_updater.sh
Labels: skip_changelog
