Repository prometheus-community/ansible, pull requests merged in 2024-01, with the labels that each got.

#270 fix(mysqld_exporter): Change condition for mysqld_exporter_host check
  roles/mysqld_exporter/templates/my_cnf.j2
Labels: bugfix, roles/mysqld_exporter

#272 feat: Add cadvisor role
  roles/cadvisor/README.md
  roles/cadvisor/TROUBLESHOOTING.md
  roles/cadvisor/defaults/main.yml
  roles/cadvisor/handlers/main.yml
  roles/cadvisor/meta/argument_specs.yml
  roles/cadvisor/meta/main.yml
  roles/cadvisor/molecule/alternative/molecule.yml
  roles/cadvisor/molecule/alternative/prepare.yml
  roles/cadvisor/molecule/alternative/tests/test_alternative.py
  roles/cadvisor/molecule/default/molecule.yml
  roles/cadvisor/molecule/default/tests/test_default.py
  roles/cadvisor/molecule/latest/molecule.yml
  roles/cadvisor/molecule/latest/tests/test_alternative.py
  roles/cadvisor/tasks/configure.yml
  roles/cadvisor/tasks/install.yml
  roles/cadvisor/tasks/main.yml
  roles/cadvisor/tasks/preflight.yml
  roles/cadvisor/tasks/selinux.yml
  roles/cadvisor/templates/cadvisor.service.j2
  roles/cadvisor/test-requirements.txt
  roles/cadvisor/vars/main.yml
  tests/integration/targets/molecule-cadvisor-alternative/runme.sh
  tests/integration/targets/molecule-cadvisor-default/runme.sh
  tests/integration/targets/molecule-cadvisor-latest/runme.sh
Labels: enhancement, roles/cadvisor

#271 feat: Add ipmi_exporter role
  roles/ipmi_exporter/README.md
  roles/ipmi_exporter/defaults/main.yml
  roles/ipmi_exporter/handlers/main.yml
  roles/ipmi_exporter/meta/argument_specs.yml
  roles/ipmi_exporter/meta/main.yml
  roles/ipmi_exporter/molecule/alternative/molecule.yml
  roles/ipmi_exporter/molecule/alternative/prepare.yml
  roles/ipmi_exporter/molecule/alternative/tests/test_alternative.py
  roles/ipmi_exporter/molecule/default/molecule.yml
  roles/ipmi_exporter/molecule/default/tests/test_default.py
  roles/ipmi_exporter/molecule/latest/molecule.yml
  roles/ipmi_exporter/molecule/latest/tests/test_latest.py
  roles/ipmi_exporter/tasks/configure.yml
  roles/ipmi_exporter/tasks/install.yml
  roles/ipmi_exporter/tasks/main.yml
  roles/ipmi_exporter/tasks/preflight.yml
  roles/ipmi_exporter/tasks/selinux.yml
  roles/ipmi_exporter/templates/config.yaml.j2
  roles/ipmi_exporter/templates/ipmi_exporter.service.j2
  roles/ipmi_exporter/templates/web_config.yaml.j2
  roles/ipmi_exporter/test-requirements.txt
  roles/ipmi_exporter/vars/main.yml
  tests/integration/targets/molecule-ipmi_exporter-alternative/runme.sh
  tests/integration/targets/molecule-ipmi_exporter-default/runme.sh
  tests/integration/targets/molecule-ipmi_exporter-latest/runme.sh
Labels: enhancement, roles/ipmi_exporter

#276 skip_changelog: antsichaut action moved to ansible-community
  .github/workflows/release.yml
Labels: skip_changelog

#283 fix: Don't reload services when restarting
  roles/alertmanager/handlers/main.yml
  roles/blackbox_exporter/handlers/main.yml
  roles/prometheus/handlers/main.yml
  roles/snmp_exporter/handlers/main.yml
Labels: bugfix, roles/alertmanager, roles/prometheus, roles/blackbox_exporter, roles/snmp_exporter
