Repository prometheus-community/ansible, pull requests merged in 2024-04, with the labels that each got.

#330 skip_changelog: fix changelog screwup
  changelogs/changelog.yaml
Labels: skip_changelog

#324 enhancement: Add ability to disable exporter metrics itself
  roles/node_exporter/defaults/main.yml
  roles/node_exporter/meta/argument_specs.yml
  roles/node_exporter/templates/node_exporter.service.j2
Labels: enhancement, roles/node_exporter

#313 bug: no ability to expilicitly set no direct connect and no global connection pool
  roles/mongodb_exporter/templates/mongodb_exporter.service.j2
Labels: bug, roles/mongodb_exporter

#332 skip_changelog: satisfy cncf license scanner
  .github/workflows/docs-pr.yml
  .github/workflows/docs-push.yml
Labels: skip_changelog

#338 fix: process-exporter app url
  roles/process_exporter/meta/argument_specs.yml
Labels: documentation, bugfix, roles/process_exporter

#343 skip_changelog: fix changelog format
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
Labels: skip_changelog

#345 skip_changelog: allow chore label in PR title
  .github/workflows/conventional-label.yml
Labels: skip_changelog

#352 skip_changelog: restore changelog and test changelog generator fix
  .github/workflows/release.yml
  changelogs/changelog.yaml
Labels: skip_changelog
