Repository prometheus-community/ansible, pull requests merged in 2024-02, with the labels that each got.

#287 feat: Add nginx_exporter role
  roles/nginx_exporter/README.md
  roles/nginx_exporter/defaults/main.yml
  roles/nginx_exporter/handlers/main.yml
  roles/nginx_exporter/meta/argument_specs.yml
  roles/nginx_exporter/meta/main.yml
  roles/nginx_exporter/molecule/alternative/molecule.yml
  roles/nginx_exporter/molecule/alternative/prepare.yml
  roles/nginx_exporter/molecule/alternative/tests/test_alternative.py
  roles/nginx_exporter/molecule/default/molecule.yml
  roles/nginx_exporter/molecule/default/tests/test_default.py
  roles/nginx_exporter/molecule/latest/molecule.yml
  roles/nginx_exporter/molecule/latest/tests/test_latest.py
  roles/nginx_exporter/tasks/configure.yml
  roles/nginx_exporter/tasks/install.yml
  roles/nginx_exporter/tasks/main.yml
  roles/nginx_exporter/tasks/preflight.yml
  roles/nginx_exporter/tasks/selinux.yml
  roles/nginx_exporter/templates/nginx_exporter.service.j2
  roles/nginx_exporter/templates/web_config.yaml.j2
  roles/nginx_exporter/test-requirements.txt
  roles/nginx_exporter/vars/main.yml
  tests/integration/targets/molecule-nginx_exporter-alternative/runme.sh
  tests/integration/targets/molecule-nginx_exporter-default/runme.sh
  tests/integration/targets/molecule-nginx_exporter-latest/runme.sh
Labels: enhancement, roles/nginx_exporter

#299 feat: Add redis_exporter role
  roles/redis_exporter/README.md
  roles/redis_exporter/defaults/main.yml
  roles/redis_exporter/handlers/main.yml
  roles/redis_exporter/meta/argument_specs.yml
  roles/redis_exporter/meta/main.yml
  roles/redis_exporter/molecule/alternative/molecule.yml
  roles/redis_exporter/molecule/alternative/prepare.yml
  roles/redis_exporter/molecule/alternative/tests/test_alternative.py
  roles/redis_exporter/molecule/default/molecule.yml
  roles/redis_exporter/molecule/default/tests/test_default.py
  roles/redis_exporter/molecule/latest/molecule.yml
  roles/redis_exporter/molecule/latest/tests/test_latest.py
  roles/redis_exporter/tasks/configure.yml
  roles/redis_exporter/tasks/install.yml
  roles/redis_exporter/tasks/main.yml
  roles/redis_exporter/tasks/preflight.yml
  roles/redis_exporter/tasks/selinux.yml
  roles/redis_exporter/templates/redis_exporter.service.j2
  roles/redis_exporter/vars/main.yml
  tests/integration/targets/molecule-redis_exporter-alternative/runme.sh
  tests/integration/targets/molecule-redis_exporter-default/runme.sh
  tests/integration/targets/molecule-redis_exporter-latest/runme.sh
Labels: enhancement, roles/chrony_exporter, roles/redis_exporter

#294 feat: Add fail2ban_exporter role
  roles/fail2ban_exporter/README.md
  roles/fail2ban_exporter/defaults/main.yml
  roles/fail2ban_exporter/handlers/main.yml
  roles/fail2ban_exporter/meta/argument_specs.yml
  roles/fail2ban_exporter/meta/main.yml
  roles/fail2ban_exporter/molecule/alternative/molecule.yml
  roles/fail2ban_exporter/molecule/alternative/prepare.yml
  roles/fail2ban_exporter/molecule/alternative/tests/test_alternative.py
  roles/fail2ban_exporter/molecule/default/molecule.yml
  roles/fail2ban_exporter/molecule/default/tests/test_default.py
  roles/fail2ban_exporter/molecule/latest/molecule.yml
  roles/fail2ban_exporter/molecule/latest/tests/test_latest.py
  roles/fail2ban_exporter/tasks/configure.yml
  roles/fail2ban_exporter/tasks/install.yml
  roles/fail2ban_exporter/tasks/main.yml
  roles/fail2ban_exporter/tasks/preflight.yml
  roles/fail2ban_exporter/tasks/selinux.yml
  roles/fail2ban_exporter/templates/fail2ban_exporter.service.j2
  roles/fail2ban_exporter/test-requirements.txt
  roles/fail2ban_exporter/vars/main.yml
  tests/integration/targets/molecule-fail2ban_exporter-alternative/runme.sh
  tests/integration/targets/molecule-fail2ban_exporter-default/runme.sh
  tests/integration/targets/molecule-fail2ban_exporter-latest/runme.sh
Labels: enhancement, roles/fail2ban_exporter

#293 feat: Add mongodb_exporter
  roles/mongodb_exporter/README.md
  roles/mongodb_exporter/defaults/main.yml
  roles/mongodb_exporter/handlers/main.yml
  roles/mongodb_exporter/meta/argument_specs.yml
  roles/mongodb_exporter/meta/main.yml
  roles/mongodb_exporter/molecule/alternative/molecule.yml
  roles/mongodb_exporter/molecule/alternative/prepare.yml
  roles/mongodb_exporter/molecule/alternative/tests/test_alternative.py
  roles/mongodb_exporter/molecule/default/molecule.yml
  roles/mongodb_exporter/molecule/default/tests/test_default.py
  roles/mongodb_exporter/molecule/latest/molecule.yml
  roles/mongodb_exporter/molecule/latest/tests/test_latest.py
  roles/mongodb_exporter/tasks/configure.yml
  roles/mongodb_exporter/tasks/install.yml
  roles/mongodb_exporter/tasks/main.yml
  roles/mongodb_exporter/tasks/preflight.yml
  roles/mongodb_exporter/tasks/selinux.yml
  roles/mongodb_exporter/templates/mongodb_exporter.service.j2
  roles/mongodb_exporter/templates/web_config.yaml.j2
  roles/mongodb_exporter/test-requirements.txt
  roles/mongodb_exporter/vars/main.yml
  tests/integration/targets/molecule-mongodb_exporter-alternative/runme.sh
  tests/integration/targets/molecule-mongodb_exporter-default/runme.sh
  tests/integration/targets/molecule-mongodb_exporter-latest/runme.sh
Labels: enhancement, roles/mongodb_exporter

#303 fix: changelog format screwup
  changelogs/changelog.yaml
Labels: bugfix

#305 feat: Add bind_exporter role
  roles/bind_exporter/README.md
  roles/bind_exporter/TROUBLESHOOTING.md
  roles/bind_exporter/defaults/main.yml
  roles/bind_exporter/handlers/main.yml
  roles/bind_exporter/meta/argument_specs.yml
  roles/bind_exporter/meta/main.yml
  roles/bind_exporter/molecule/alternative/molecule.yml
  roles/bind_exporter/molecule/alternative/prepare.yml
  roles/bind_exporter/molecule/alternative/tests/test_alternative.py
  roles/bind_exporter/molecule/default/molecule.yml
  roles/bind_exporter/molecule/default/tests/test_default.py
  roles/bind_exporter/molecule/latest/molecule.yml
  roles/bind_exporter/molecule/latest/tests/test_latest.py
  roles/bind_exporter/tasks/configure.yml
  roles/bind_exporter/tasks/install.yml
  roles/bind_exporter/tasks/main.yml
  roles/bind_exporter/tasks/preflight.yml
  roles/bind_exporter/tasks/selinux.yml
  roles/bind_exporter/templates/bind_exporter.service.j2
  roles/bind_exporter/templates/web_config.yaml.j2
  roles/bind_exporter/test-requirements.txt
  roles/bind_exporter/vars/main.yml
  tests/integration/targets/molecule-bind_exporter-alternative/runme.sh
  tests/integration/targets/molecule-bind_exporter-default/runme.sh
  tests/integration/targets/molecule-bind_exporter-latest/runme.sh
Labels: enhancement, roles/bind_exporter

#308 skip_changelog(ci): gitlab.com support for version updater
  .github/scripts/discover_role_repos.sh
  .github/scripts/version_updater.sh
  .github/workflows/version_bumper.yml
  roles/fail2ban_exporter/tasks/preflight.yml
  roles/fail2ban_exporter/vars/main.yml
Labels: skip_changelog, roles/alertmanager, roles/fail2ban_exporter

#307 patch: Configurable Prometheus system user and group vars
  roles/prometheus/defaults/main.yml
  roles/prometheus/meta/argument_specs.yml
  roles/prometheus/tasks/configure.yml
  roles/prometheus/tasks/install.yml
  roles/prometheus/templates/prometheus.service.j2
Labels: trivial, roles/prometheus
