Repository prometheus-community/ansible, pull requests merged in 2024-05, with the labels that each got.

#363 fix: Downgrade name[casing] to warning
  .config/ansible-lint.yml
Labels: bugfix

#362 patch: added the ability to choose which ip to connect
  roles/memcached_exporter/defaults/main.yml
  roles/memcached_exporter/meta/argument_specs.yml
  roles/memcached_exporter/templates/memcached_exporter.service.j2
Labels: trivial, roles/memcached_exporter

#360 fix : (blackblox-exporter) Update hardcoded install path
  roles/blackbox_exporter/tasks/install.yml
  roles/blackbox_exporter/templates/blackbox_exporter.service.j2
Labels: bugfix, roles/blackbox_exporter

#368 feat: Added prometheus scrape_config_files support
  roles/prometheus/defaults/main.yml
  roles/prometheus/meta/argument_specs.yml
  roles/prometheus/tasks/configure.yml
  roles/prometheus/tasks/install.yml
  roles/prometheus/templates/prometheus.yml.j2
Labels: enhancement, roles/prometheus
