Repository prometheus-community/ansible, pull requests merged in 2024-10, with the labels that each got.

#422 minor(ci): detect unused ansible variables
  .github/scripts/discover_role_repos.sh
  .github/workflows/ansible-ci.yml
  roles/fail2ban_exporter/vars/main.yml
  roles/smokeping_prober/defaults/main.yml
  roles/smokeping_prober/meta/argument_specs.yml
Labels: minor, roles/smokeping_prober, roles/fail2ban_exporter

#155 fix: alertmanager deprecated PIDFile= path warning
  roles/alertmanager/templates/alertmanager.service.j2
Labels: bugfix, roles/alertmanager

#429 skip_changelog(ci): fix: ensure all roles are tested when _common role is changed
  .github/workflows/conventional-label.yml
Labels: skip_changelog

#428 fix: don't modify system user or group if they already exist
  roles/_common/tasks/install.yml
Labels: bugfix, roles/alertmanager, roles/node_exporter, roles/prometheus, roles/systemd_exporter, roles/blackbox_exporter, roles/snmp_exporter, roles/mysqld_exporter, roles/smokeping_prober, roles/pushgateway, roles/chrony_exporter, roles/smartctl_exporter, roles/memcached_exporter, roles/ipmi_exporter, roles/cadvisor, roles/nginx_exporter, roles/postgres_exporter, roles/fail2ban_exporter, roles/mongodb_exporter, roles/redis_exporter, roles/process_exporter, roles/bind_exporter, roles/gitlab_ci_pipelines_exporter, roles/nvidia_gpu_exporter, roles/influxdb_exporter, roles/_common

#431 fix: add check_mode in localhost binary cache task
  roles/_common/tasks/install.yml
Labels: bugfix, roles/alertmanager, roles/node_exporter, roles/prometheus, roles/systemd_exporter, roles/blackbox_exporter, roles/snmp_exporter, roles/mysqld_exporter, roles/smokeping_prober, roles/pushgateway, roles/chrony_exporter, roles/smartctl_exporter, roles/memcached_exporter, roles/ipmi_exporter, roles/cadvisor, roles/nginx_exporter, roles/postgres_exporter, roles/fail2ban_exporter, roles/mongodb_exporter, roles/redis_exporter, roles/process_exporter, roles/bind_exporter, roles/gitlab_ci_pipelines_exporter, roles/nvidia_gpu_exporter, roles/influxdb_exporter, roles/_common

#434 fix: prevent local binary cache creation with elevated privileges
  roles/_common/tasks/install.yml
Labels: bugfix, roles/alertmanager, roles/node_exporter, roles/prometheus, roles/systemd_exporter, roles/blackbox_exporter, roles/snmp_exporter, roles/mysqld_exporter, roles/smokeping_prober, roles/pushgateway, roles/chrony_exporter, roles/smartctl_exporter, roles/memcached_exporter, roles/ipmi_exporter, roles/cadvisor, roles/nginx_exporter, roles/postgres_exporter, roles/fail2ban_exporter, roles/mongodb_exporter, roles/redis_exporter, roles/process_exporter, roles/bind_exporter, roles/gitlab_ci_pipelines_exporter, roles/nvidia_gpu_exporter, roles/influxdb_exporter, roles/_common

#437 fix: remove unused variable
  roles/_common/tasks/install.yml
Labels: bugfix, roles/alertmanager, roles/node_exporter, roles/prometheus, roles/systemd_exporter, roles/blackbox_exporter, roles/snmp_exporter, roles/mysqld_exporter, roles/smokeping_prober, roles/pushgateway, roles/chrony_exporter, roles/smartctl_exporter, roles/memcached_exporter, roles/ipmi_exporter, roles/cadvisor, roles/nginx_exporter, roles/postgres_exporter, roles/fail2ban_exporter, roles/mongodb_exporter, roles/redis_exporter, roles/process_exporter, roles/bind_exporter, roles/gitlab_ci_pipelines_exporter, roles/nvidia_gpu_exporter, roles/influxdb_exporter, roles/_common

#440 skip_changelog(ci): pin docker collection on old ansible versions
  tests/integration/molecule.sh
Labels: skip_changelog

#438 fix(blackbox_exporter): make capability setting idempotent
  roles/blackbox_exporter/tasks/configure.yml
Labels: bugfix, roles/blackbox_exporter

#423 fix: make sure binary install dir exists
  roles/_common/tasks/install.yml
Labels: bugfix, roles/alertmanager, roles/node_exporter, roles/prometheus, roles/systemd_exporter, roles/blackbox_exporter, roles/snmp_exporter, roles/mysqld_exporter, roles/smokeping_prober, roles/pushgateway, roles/chrony_exporter, roles/smartctl_exporter, roles/memcached_exporter, roles/ipmi_exporter, roles/cadvisor, roles/nginx_exporter, roles/postgres_exporter, roles/fail2ban_exporter, roles/mongodb_exporter, roles/redis_exporter, roles/process_exporter, roles/bind_exporter, roles/gitlab_ci_pipelines_exporter, roles/nvidia_gpu_exporter, roles/influxdb_exporter, roles/_common

#377 fix: scrape config files path
  roles/prometheus/defaults/main.yml
  roles/prometheus/meta/argument_specs.yml
  roles/prometheus/molecule/alternative/molecule.yml
  roles/prometheus/molecule/alternative/prepare.yml
  roles/prometheus/molecule/alternative/tests/test_alternative.py
  roles/prometheus/molecule/default/prepare.yml
  roles/prometheus/molecule/default/tests/test_default.py
  roles/prometheus/tasks/configure.yml
  roles/prometheus/templates/prometheus.yml.j2
Labels: bugfix, roles/prometheus

#442 bugfix: update default home directory
  roles/_common/tasks/install.yml
Labels: bugfix, roles/alertmanager, roles/node_exporter, roles/prometheus, roles/systemd_exporter, roles/blackbox_exporter, roles/snmp_exporter, roles/mysqld_exporter, roles/smokeping_prober, roles/pushgateway, roles/chrony_exporter, roles/smartctl_exporter, roles/memcached_exporter, roles/ipmi_exporter, roles/cadvisor, roles/nginx_exporter, roles/postgres_exporter, roles/fail2ban_exporter, roles/mongodb_exporter, roles/redis_exporter, roles/process_exporter, roles/bind_exporter, roles/gitlab_ci_pipelines_exporter, roles/nvidia_gpu_exporter, roles/influxdb_exporter, roles/_common

#441 feat: Add nvidia_gpu_exporter
  roles/nvidia_gpu_exporter/README.md
  roles/nvidia_gpu_exporter/defaults/main.yml
  roles/nvidia_gpu_exporter/handlers/main.yml
  roles/nvidia_gpu_exporter/meta/argument_specs.yml
  roles/nvidia_gpu_exporter/meta/main.yml
  roles/nvidia_gpu_exporter/molecule/alternative/molecule.yml
  roles/nvidia_gpu_exporter/molecule/alternative/tests/test_alternative.py
  roles/nvidia_gpu_exporter/molecule/default/molecule.yml
  roles/nvidia_gpu_exporter/molecule/default/tests/test_default.py
  roles/nvidia_gpu_exporter/molecule/latest/molecule.yml
  roles/nvidia_gpu_exporter/molecule/latest/tests/test_latest.py
  roles/nvidia_gpu_exporter/tasks/main.yml
  roles/nvidia_gpu_exporter/tasks/preflight.yml
  roles/nvidia_gpu_exporter/templates/nvidia_gpu_exporter.service.j2
  roles/nvidia_gpu_exporter/vars/main.yml
  tests/integration/targets/molecule-nvidia_gpu_exporter-alternative/runme.sh
  tests/integration/targets/molecule-nvidia_gpu_exporter-default/runme.sh
  tests/integration/targets/molecule-nvidia_gpu_exporter-latest/runme.sh
Labels: enhancement, roles/nvidia_gpu_exporter

#443 refactor: move naive assertion to common role
  roles/_common/meta/argument_specs.yml
  roles/_common/tasks/preflight.yml
  roles/_common/vars/main.yml
  roles/alertmanager/tasks/preflight.yml
  roles/bind_exporter/tasks/preflight.yml
  roles/blackbox_exporter/tasks/preflight.yml
  roles/chrony_exporter/tasks/preflight.yml
  roles/fail2ban_exporter/tasks/preflight.yml
  roles/influxdb_exporter/tasks/preflight.yml
  roles/ipmi_exporter/tasks/preflight.yml
  roles/memcached_exporter/tasks/preflight.yml
  roles/mongodb_exporter/tasks/preflight.yml
  roles/mysqld_exporter/tasks/preflight.yml
  roles/nginx_exporter/tasks/preflight.yml
  roles/node_exporter/tasks/preflight.yml
  roles/postgres_exporter/tasks/preflight.yml
  roles/process_exporter/tasks/preflight.yml
  roles/prometheus/tasks/preflight.yml
  roles/pushgateway/tasks/preflight.yml
  roles/redis_exporter/tasks/preflight.yml
  roles/smartctl_exporter/tasks/preflight.yml
  roles/smokeping_prober/tasks/preflight.yml
  roles/snmp_exporter/tasks/preflight.yml
  roles/systemd_exporter/tasks/preflight.yml
Labels: trivial, roles/alertmanager, roles/node_exporter, roles/prometheus, roles/systemd_exporter, roles/blackbox_exporter, roles/snmp_exporter, roles/mysqld_exporter, roles/smokeping_prober, roles/pushgateway, roles/chrony_exporter, roles/smartctl_exporter, roles/memcached_exporter, roles/ipmi_exporter, roles/cadvisor, roles/nginx_exporter, roles/postgres_exporter, roles/fail2ban_exporter, roles/mongodb_exporter, roles/redis_exporter, roles/process_exporter, roles/bind_exporter, roles/gitlab_ci_pipelines_exporter, roles/nvidia_gpu_exporter, roles/influxdb_exporter, roles/_common

#450 refactor: use molecule containers from ghcr to avoid rate limit
  .config/molecule/config.yml
Labels: trivial

#333 enhancement(prometheus): support prometheus2 .yml rule file format
  roles/prometheus/defaults/main.yml
  roles/prometheus/meta/argument_specs.yml
  roles/prometheus/molecule/alternative/tests/test_alternative.py
  roles/prometheus/molecule/default/tests/test_default.py
  roles/prometheus/tasks/configure.yml
  roles/prometheus/tasks/preflight.yml
  roles/prometheus/templates/ansible_managed.yml.j2
  roles/prometheus/templates/prometheus.yml.j2
Labels: enhancement, roles/prometheus

#448 refactor(nvidia_gpu_exporter): move naive assertion to common role
  roles/nvidia_gpu_exporter/tasks/preflight.yml
Labels: trivial, roles/nvidia_gpu_exporter

#449 fix: use elevated permissions for removing scrapes dir
  roles/prometheus/tasks/configure.yml
Labels: bugfix, roles/prometheus
