Repository prometheus-community/ansible, pull requests merged in 2025-02, with the labels that each got.

#514 feat: Add consul_exporter role
  roles/consul_exporter/README.md
  roles/consul_exporter/TROUBLESHOOTING.md
  roles/consul_exporter/defaults/main.yml
  roles/consul_exporter/handlers/main.yml
  roles/consul_exporter/meta/argument_specs.yml
  roles/consul_exporter/meta/main.yml
  roles/consul_exporter/molecule/alternative/molecule.yml
  roles/consul_exporter/molecule/alternative/tests/test_alternative.py
  roles/consul_exporter/molecule/default/molecule.yml
  roles/consul_exporter/molecule/default/tests/test_default.py
  roles/consul_exporter/molecule/latest/molecule.yml
  roles/consul_exporter/molecule/latest/tests/test_alternative.py
  roles/consul_exporter/tasks/main.yml
  roles/consul_exporter/tasks/preflight.yml
  roles/consul_exporter/templates/consul_exporter.service.j2
  roles/consul_exporter/test-requirements.txt
  roles/consul_exporter/vars/main.yml
  tests/integration/targets/molecule-consul_exporter-alternative/runme.sh
  tests/integration/targets/molecule-consul_exporter-default/runme.sh
  tests/integration/targets/molecule-consul_exporter-latest/runme.sh
Labels: enhancement, roles/consul_exporter

#528 fix: identation in service file
  roles/prometheus/templates/prometheus.service.j2
Labels: bugfix, roles/prometheus

#530 fix: add `enabled: true` to alertmanager
  roles/alertmanager/tasks/main.yml
Labels: bugfix, roles/alertmanager

#492 patch: Launch Alertmanager and snmp_exporter with the account created by the `_common` module
  roles/alertmanager/templates/alertmanager.service.j2
  roles/snmp_exporter/templates/snmp_exporter.service.j2
Labels: trivial, roles/alertmanager, roles/snmp_exporter
