Repository prometheus-community/ansible, pull requests merged in 2025-01, with the labels that each got.

#504 skip_changelog: Pin almalinux to old container images
  .config/molecule/config.yml
Labels: skip_changelog, roles/prometheus

#506 skip_changelog(ci): fix failing collection build on publish
  .github/workflows/publish.yml
Labels: skip_changelog

#507 fix: unsupported http response code issues on older ansible/python versions
  roles/_common/tasks/install.yml
Labels: bugfix, roles/alertmanager, roles/node_exporter, roles/prometheus, roles/systemd_exporter, roles/blackbox_exporter, roles/snmp_exporter, roles/mysqld_exporter, roles/smokeping_prober, roles/pushgateway, roles/chrony_exporter, roles/smartctl_exporter, roles/memcached_exporter, roles/ipmi_exporter, roles/cadvisor, roles/nginx_exporter, roles/postgres_exporter, roles/fail2ban_exporter, roles/mongodb_exporter, roles/redis_exporter, roles/process_exporter, roles/bind_exporter, roles/gitlab_ci_pipelines_exporter, roles/nvidia_gpu_exporter, roles/influxdb_exporter, roles/_common

#320 feat: pushgateway extra parameters
  roles/pushgateway/defaults/main.yml
  roles/pushgateway/meta/argument_specs.yml
  roles/pushgateway/templates/pushgateway.service.j2
Labels: enhancement, roles/pushgateway

#523 skip_changelog: Switch release to ansible-core
  .github/workflows/release.yml
Labels: skip_changelog

#524 fix: add check_mode to the checksum task
  roles/_common/tasks/install.yml
Labels: bugfix, roles/alertmanager, roles/node_exporter, roles/prometheus, roles/systemd_exporter, roles/blackbox_exporter, roles/snmp_exporter, roles/mysqld_exporter, roles/smokeping_prober, roles/pushgateway, roles/chrony_exporter, roles/smartctl_exporter, roles/memcached_exporter, roles/ipmi_exporter, roles/cadvisor, roles/nginx_exporter, roles/postgres_exporter, roles/fail2ban_exporter, roles/mongodb_exporter, roles/redis_exporter, roles/process_exporter, roles/bind_exporter, roles/gitlab_ci_pipelines_exporter, roles/nvidia_gpu_exporter, roles/influxdb_exporter, roles/_common, roles/consul_exporter, roles/elasticsearch_exporter, roles/pve_exporter

#498 fix: use throttle: 1 for localhost unarchive
  roles/_common/tasks/install.yml
Labels: bugfix, roles/alertmanager, roles/node_exporter, roles/prometheus, roles/systemd_exporter, roles/blackbox_exporter, roles/snmp_exporter, roles/mysqld_exporter, roles/smokeping_prober, roles/pushgateway, roles/chrony_exporter, roles/smartctl_exporter, roles/memcached_exporter, roles/ipmi_exporter, roles/cadvisor, roles/nginx_exporter, roles/postgres_exporter, roles/fail2ban_exporter, roles/mongodb_exporter, roles/redis_exporter, roles/process_exporter, roles/bind_exporter, roles/gitlab_ci_pipelines_exporter, roles/nvidia_gpu_exporter, roles/influxdb_exporter, roles/_common, roles/consul_exporter, roles/elasticsearch_exporter, roles/pve_exporter
